<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Koneksi Node & MongoDB</title>
    <meta name="description" content="">
    <meta name="author" content="Equan Pr.">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/themes/pastie.css"/>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>
<!-- Primary Page Layout
================================================== -->
<!-- Delete everything in this .container and get started on your own site! -->

<div class="container">
    <div class="sixteen columns">
        <h1 class="remove-bottom" style="margin-top: 40px">Koneksi Node & MongoDB</h1>
        <h5><a href="https://github.com/junwatu/koneksi-node-mongodb">Github</a></h5>
        <hr/>
    </div>
    <div class="sixteen columns">

    </div>
    <div class="sixteen columns">
        <form action="/persons" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="website">Website</label>
            <input type="text" id="website" name="website"/>
            <input type="submit" value="save"/>
        </form>
    </div>
    <div class="sixteen columns">
        {{ data }}
    </div>
</div>
<!-- container -->
<!-- End Document
================================================== -->
<script type="text/javascript" src="/js/rainbow.min.js"></script>
<script type="text/javascript" src="/js/language/javascript.js"></script>
<script type="text/javascript" src="/js/language/generic.js"></script>
</body>
</html>